body {
    /* background: radial-gradient(black 15%, transparent 16%) 0 0, radial-gradient(black 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px; */
    /* background-color: #282828; */
    background-size: 16px 16px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.board-container {
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
    position: relative;
}

.cell {
    display: inline-block;
    width: 25px;
    height: 25px;
    border: 1px solid #CCC;
    padding: 10px 5px 5px 5px;
    background-color: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    font-size: 16px;
    text-align: center;
    box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.cell:hover {
    background-color: #FFF;
    box-shadow: inset 5px 5px 10px #777, inset -3px -3px 5px #FFF;
}

.cell::selection {
    background: transparent;
}

.cell.revealed,
.cell.flagged {
    cursor: default;
}

.cell.mine {
    background-color: red;
}

.cell.safe {
    box-shadow: inset 0 0 50px #fff, inset 20px 0 80px rgb(60, 255, 0), inset -20px 0 80px #0ff, inset 20px 0 300px rgb(230, 255, 8), inset -20px 0 300px #0ff, 0 0 50px #fff, -10px 0 80px rgb(32, 255, 2), 10px 0 80px #0ff;
}

.cell.revealed {
    background-color: #DDD;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1 {
    margin-top: 10px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
    color: rgb(220, 214, 214);
}

.hints span {
    position: relative;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    transition: 1s ease;
}

.info {
    color: rgb(220, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: timer;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
}

.safe-click {
    position: relative;
}

.btn {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.restart {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.restart:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.restart:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: timer;
    font-family: "Roboto Mono", monospace;
    font-size: 3rem;
}

.safeclick-btn {
    background-color: #1c87c9;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    color: #eeeeee;
    font-family: sans-serif;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    float: left;
    animation: glowing 2000ms infinite;
    opacity: 1;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 150%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.finish-modal {
    color: azure;
}


/*  */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,900&display=swap');
html[data-theme='dark'] {
    background: var(--lightBg);
    --lightBtn: #FFBD07;
    --lightBg: #232323;
    --lightColor: rgb(207, 50, 50);
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    position: relative;
}

.switch {
    cursor: pointer;
    text-indent: -9999px;
    width: 55px;
    height: 30px;
    background: lightcoral;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: relative;
}

.switch:after {
    content: '';
    background: rgb(136, 68, 68);
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 4px;
    transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 320ms;
}

input:checked+label {
    background: #FFBD07;
}

input:checked+label:after {
    left: calc(100% - 5px);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
